extends layout

block scripts
	script(type="text/javascript", src="/javascripts/lib/sylvester.src.js")
	script(type="text/javascript", src="/javascripts/lib/kalman.js")
	script(type="text/javascript", src="/javascripts/index.js")

block content
	table
		tr
			td Accelerometer: 
			td.accelerometer
		tr
			td Kalman Result: 
			td.kalman-result
		tr
			td Difference:
			td.difference  
